<div class="destination__container">
  <img class="bg__img__1" src="./assets/images/puntos.png" alt="bg" />
  <img class="bg__img__2" src="./assets/images/flechas.png" alt="bg" />
  <div class="socials">
  </div>
  <div class="content">
    <h1>VIVE <br /><span>LA MEJOR </span>EXPERIENCIA<br /></h1>
    <p>
      Descubre los conciertos, eventos y discotecas que tenemos para ti. Estamos
      aquí para acercarte a las mejores experiencias de entretenimiento.
      Encuentra eventos emocionantes cerca de ti y obtén tus entradas en un abrir
      y cerrar de ojos. ¡Explora, reserva y disfruta fácilmente con nosotros!
    </p>
    <button class="btn">COMPRAR ENTRADAS</button>
  </div>
  <div class="destination__grid">
    <div class="destination__card">
      <img src="./assets/images/discoteca.jpg" alt="discoteca" height="315px"/>
      <div class="card__content">
        <h4>Discotecas</h4>
        <p>
          Las mejores discotecas de Perú, con la mejor música y ambiente.
          Encuentra la discoteca perfecta para ti y tus amigos.
        </p>
        <button class="btn">Leer más</button>
      </div>
    </div>
    <div class="destination__card">
      <img src="./assets/images/concierto.jpg" alt="concierto" width="100%" height="315px"/>
      <div class="card__content">
        <h4>Conciertos</h4>
        <p>
          Tus artistas favoritos en un solo lugar. Encuentra los conciertos
          más esperados y compra tus entradas antes de que se agoten.
        </p>
        <button class="btn">Leer más</button>
      </div>
    </div>
    <div class="destination__card">
      <img src="./assets/images/teatro.jpg" alt="teatro" height="315px" />
      <div class="card__content">
        <h4>Eventos</h4>
        <p>
          Shows de Teatro, Festivales, Eventos Deportivos, Conferencias y más.
          Encuentra los eventos más emocionantes cerca de ti.
        </p>
        <button class="btn">Leer más</button>
      </div>
    </div>
  </div>
</div>
